# shellcheck shell=bash disable=SC2123
prefix="$PWD/build/${OSTYPE%%-*}/$(uname -m)"
PATH="$prefix/release:$prefix/debug${PATH:+:}$PATH"

export LD_PRELOAD="$HOME/.xmake/packages/l/lsp-framework/1.0.1/fd6e79dfe4034bc58008b19bfd9dd694/lib/liblsp.so"
# ex: filetype=sh
